.home-styles {
  background-color: white;
}

.navbar-buttons {
  margin-right: 5px;
}

.parent-container {
  display: flex; /* Display items vertically */
  flex-direction: column; /* Arrange items from top to bottom */
  align-items: center; /* Center items horizontally */
  margin: 50px
}

.svg-container {
  display: flex; /* Create a horizontal flex container for the two SVGs */
  justify-content: space-between; /* Distribute the SVGs to the start and end */
  width: 100%;
}

img{
  padding: 2px
}